:root {
    --main-teal: #004d4d;
    --main-teal-light: #00b3b3;
    --main-teal-lightest: #01dddd;
    --main-white: #ffffff;
    --main-yellow: yellow;
    --main-orange: #fbb03b;
    --main-black: #333;
    --main-grey: #c0c0c0;
    --main-text: #9E9E9E;
}
html {
	font-size: 14px;
	color: var(--main-text);
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  /* background-color: #e6e7e9; */
}
hr {
	border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #004d4d, rgba(0, 0, 0, 0));
}
.title {
  display: flex;
  justify-content: center;
  width: 100%; 
  background-color: #f4f4f4;
  box-shadow: 0px 4px 5px #8080802b;
}
.dates {
	display:flex;
	justify-content:space-between;
	font-style: italic;
	color: var(--main-teal-light);
	margin-bottom: 20px;
}
#main-container {
	width: 1000px;
}
.title-inner {
  width: 1000px;
}
h1 {
	color:var(--main-teal);
	margin-bottom: 0px;
}
h2, h3, h4, h5 {
	color:var(--main-teal-light);
	font-weight: normal;
}